.header {
	background-color: var(--background--light);
	padding-block: 1rem;
	border-bottom: .125rem solid var(--border-color--v2);
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1010;

	.container {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 2rem;
	}

	&__search {
		margin-inline-start: auto;
		margin-inline-end: 1rem;

		.search__field {
			--_field-p-color: var(--gray-color--v1);
		}
	}
}