.scroll-x {
	overflow-y: hidden;
	overflow-x: scroll;
	will-change: scroll-position;
}

.scroll-invisible {

	&::-webkit-scrollbar,
	&::-webkit-scrollbar-track,
	&::-webkit-scrollbar-thumb {
		display: none;
	}
}