h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
	line-height: 1.25;
	color: var(--light-color);
	margin-block: 0 2rem;
}

h1,
.h1 {
	font-size: var(--h1);
	font-weight: 700;
}

h2,
.h2 {
	font-size: var(--h2);
	font-weight: 600;
}

h3,
.h3 {
	font-size: var(--h3);
	font-weight: 600;
}

h4,
.h4 {
	font-size: var(--h4);
	font-weight: 600;
}

h5,
.h5 {
	font-size: var(--h5);
	font-weight: 500;
}

h6,
.h6 {
	font-size: var(--h6);
	font-weight: 500;
}

p {
	line-height: 1.5;
	margin: 0;

	+ p {
		margin-block-start: 1.375rem;
	}
}

.text-underline {
	text-decoration: underline !important;
}

.text-initial {
	text-decoration: initial !important;
}

//** (START) Margin offset **//
.m-0 {
	margin: var(--offset-0) !important;
}

.m-1 {
	margin: var(--offset-1) !important;
}

.m-2 {
	margin: var(--offset-2) !important;
}

.m-3 {
	margin: var(--offset-3) !important;
}

.m-4 {
	margin: var(--offset-4) !important;
}

.m-5 {
	margin: var(--offset-5) !important;
}

.m-6 {
	margin: var(--offset-6) !important;
}

.m-7 {
	margin: var(--offset-7) !important;
}


.my-0 {
	margin-block: var(--offset-0) !important;
}

.my-1 {
	margin-block: var(--offset-1) !important;
}

.my-2 {
	margin-block: var(--offset-2) !important;
}

.my-3 {
	margin-block: var(--offset-3) !important;
}

.my-4 {
	margin-block: var(--offset-4) !important;
}

.my-5 {
	margin-block: var(--offset-5) !important;
}

.my-6 {
	margin-block: var(--offset-6) !important;
}

.my-7 {
	margin-block: var(--offset-7) !important;
}


.mys-0 {
	margin-block-start: var(--offset-0) !important;
}

.mys-1 {
	margin-block-start: var(--offset-1) !important;
}

.mys-2 {
	margin-block-start: var(--offset-2) !important;
}

.mys-3 {
	margin-block-start: var(--offset-3) !important;
}

.mys-4 {
	margin-block-start: var(--offset-4) !important;
}

.mys-5 {
	margin-block-start: var(--offset-5) !important;
}

.mys-6 {
	margin-block-start: var(--offset-6) !important;
}

.mys-7 {
	margin-block-start: var(--offset-7) !important;
}


.mye-0 {
	margin-block-end: var(--offset-0) !important;
}

.mye-1 {
	margin-block-end: var(--offset-1) !important;
}

.mye-2 {
	margin-block-end: var(--offset-2) !important;
}

.mye-3 {
	margin-block-end: var(--offset-3) !important;
}

.mye-4 {
	margin-block-end: var(--offset-4) !important;
}

.mye-5 {
	margin-block-end: var(--offset-5) !important;
}

.mye-6 {
	margin-block-end: var(--offset-6) !important;
}

.mye-7 {
	margin-block-end: var(--offset-7) !important;
}


.mx-0 {
	margin-inline: var(--offset-0) !important;
}

.mx-1 {
	margin-inline: var(--offset-1) !important;
}

.mx-2 {
	margin-inline: var(--offset-2) !important;
}

.mx-3 {
	margin-inline: var(--offset-3) !important;
}

.mx-4 {
	margin-inline: var(--offset-4) !important;
}

.mx-5 {
	margin-inline: var(--offset-5) !important;
}

.mx-6 {
	margin-inline: var(--offset-6) !important;
}

.mx-7 {
	margin-inline: var(--offset-7) !important;
}


.mxs-0 {
	margin-inline-start: var(--offset-0) !important;
}

.mxs-1 {
	margin-inline-start: var(--offset-1) !important;
}

.mxs-2 {
	margin-inline-start: var(--offset-2) !important;
}

.mxs-3 {
	margin-inline-start: var(--offset-3) !important;
}

.mxs-4 {
	margin-inline-start: var(--offset-4) !important;
}

.mxs-5 {
	margin-inline-start: var(--offset-5) !important;
}

.mxs-6 {
	margin-inline-start: var(--offset-6) !important;
}

.mxs-7 {
	margin-inline-start: var(--offset-7) !important;
}


.mxe-0 {
	margin-inline-end: var(--offset-0) !important;
}

.mxe-1 {
	margin-inline-end: var(--offset-1) !important;
}

.mxe-2 {
	margin-inline-end: var(--offset-2) !important;
}

.mxe-3 {
	margin-inline-end: var(--offset-3) !important;
}

.mxe-4 {
	margin-inline-end: var(--offset-4) !important;
}

.mxe-5 {
	margin-inline-end: var(--offset-5) !important;
}

.mxe-6 {
	margin-inline-end: var(--offset-6) !important;
}

.mxe-7 {
	margin-inline-end: var(--offset-7) !important;
}
//** (END) Margin offset **//


//** (START) Padding offset **//
.p-0 {
	padding: var(--offset-0) !important;
}

.p-1 {
	padding: var(--offset-1) !important;
}

.p-2 {
	padding: var(--offset-2) !important;
}

.p-3 {
	padding: var(--offset-3) !important;
}

.p-4 {
	padding: var(--offset-4) !important;
}

.p-5 {
	padding: var(--offset-5) !important;
}

.p-6 {
	padding: var(--offset-6) !important;
}

.p-7 {
	padding: var(--offset-7) !important;
}


.py-0 {
	padding-block: var(--offset-0) !important;
}

.py-1 {
	padding-block: var(--offset-1) !important;
}

.py-2 {
	padding-block: var(--offset-2) !important;
}

.py-3 {
	padding-block: var(--offset-3) !important;
}

.py-4 {
	padding-block: var(--offset-4) !important;
}

.py-5 {
	padding-block: var(--offset-5) !important;
}

.py-6 {
	padding-block: var(--offset-6) !important;
}

.py-7 {
	padding-block: var(--offset-7) !important;
}


.pys-0 {
	padding-block-start: var(--offset-0) !important;
}

.pys-1 {
	padding-block-start: var(--offset-1) !important;
}

.pys-2 {
	padding-block-start: var(--offset-2) !important;
}

.pys-3 {
	padding-block-start: var(--offset-3) !important;
}

.pys-4 {
	padding-block-start: var(--offset-4) !important;
}

.pys-5 {
	padding-block-start: var(--offset-5) !important;
}

.pys-6 {
	padding-block-start: var(--offset-6) !important;
}

.pys-7 {
	padding-block-start: var(--offset-7) !important;
}


.pye-0 {
	padding-block-end: var(--offset-0) !important;
}

.pye-1 {
	padding-block-end: var(--offset-1) !important;
}

.pye-2 {
	padding-block-end: var(--offset-2) !important;
}

.pye-3 {
	padding-block-end: var(--offset-3) !important;
}

.pye-4 {
	padding-block-end: var(--offset-4) !important;
}

.pye-5 {
	padding-block-end: var(--offset-5) !important;
}

.pye-6 {
	padding-block-end: var(--offset-6) !important;
}

.pye-7 {
	padding-block-end: var(--offset-7) !important;
}


.px-0 {
	padding-inline: var(--offset-0) !important;
}

.px-1 {
	padding-inline: var(--offset-1) !important;
}

.px-2 {
	padding-inline: var(--offset-2) !important;
}

.px-3 {
	padding-inline: var(--offset-3) !important;
}

.px-4 {
	padding-inline: var(--offset-4) !important;
}

.px-5 {
	padding-inline: var(--offset-5) !important;
}

.px-6 {
	padding-inline: var(--offset-6) !important;
}

.px-7 {
	padding-inline: var(--offset-7) !important;
}


.pxs-0 {
	padding-inline-start: var(--offset-0) !important;
}

.pxs-1 {
	padding-inline-start: var(--offset-1) !important;
}

.pxs-2 {
	padding-inline-start: var(--offset-2) !important;
}

.pxs-3 {
	padding-inline-start: var(--offset-3) !important;
}

.pxs-4 {
	padding-inline-start: var(--offset-4) !important;
}

.pxs-5 {
	padding-inline-start: var(--offset-5) !important;
}

.pxs-6 {
	padding-inline-start: var(--offset-6) !important;
}

.pxs-7 {
	padding-inline-start: var(--offset-7) !important;
}


.pxe-0 {
	padding-inline-end: var(--offset-0) !important;
}

.pxe-1 {
	padding-inline-end: var(--offset-1) !important;
}

.pxe-2 {
	padding-inline-end: var(--offset-2) !important;
}

.pxe-3 {
	padding-inline-end: var(--offset-3) !important;
}

.pxe-4 {
	padding-inline-end: var(--offset-4) !important;
}

.pxe-5 {
	padding-inline-end: var(--offset-5) !important;
}

.pxe-6 {
	padding-inline-end: var(--offset-6) !important;
}

.pxe-7 {
	padding-inline-end: var(--offset-7) !important;
}
//** (END) Padding offset **//