@import "../../node_modules/vanilla-calendar-pro/build/themes/light.min";
@import "../../node_modules/vanilla-calendar-pro/build/vanilla-calendar.min";

.vanilla-calendar {
	border-radius: .25rem;
}

[data-calendar-theme=light] .vanilla-calendar-day__btn {

	&:hover {
		background-color: var(--background--gray-v2);
	}
}

[data-calendar-theme=light] .vanilla-calendar-day__btn_today {
	color: var(--primary-color);
	background-color: var(--background--gray);

	&:hover {
		color: var(--dark-color);
	}
}

[data-calendar-theme=light] .vanilla-calendar-day__btn_selected,
[data-calendar-theme=light] .vanilla-calendar-day__btn_selected:hover {
	color: var(--light-color);
	background-color: var(--primary-color);
}