<li class="order__cards-item">
	<span class="order__cards-item_price">
		2 500 ₽
	</span>
	<h3 class="h5 order__cards-item_title">
		<button type="button" class="btn btn-inherit"
			data-graph-path="modal-order">
			Экскурсия на Красноярскую ГЭС (ID 916)
		</button>
	</h3>
	<div class="order__cards-item_info">
		<div class="order__cards-item_info-title">
			Тимофей Иванов:
		</div>
		<ul class="list-reset order__cards-item_contacts">
			<li class="order__cards-item_contacts-item">
				<a href="tel:+79999888888" class="btn order__cards-item_contacts-link">
					<span class="icon">
						<svg>
							<use xlink:href="img/icons/phone.svg#svg-phone"></use>
						</svg>
					</span>
					+7 (999) 988-88-88
				</a>
			</li>
			<li class="order__cards-item_contacts-item">
				<a href="mailto:test@test.com" class="btn order__cards-item_contacts-link">
					<span class="icon">
						<svg>
							<use xlink:href="img/icons/mail-filled.svg#svg-mail-filled"></use>
						</svg>
					</span>
					test@test.com
				</a>
			</li>
		</ul>
	</div>
	<div class="order__cards-item_info">
		<div class="order__cards-item_info-title">
			Организатор:
		</div>
		<p class="order__cards-item_info-text">
			Туроператор "Город-сказка"
			<span class="order__cards-item_info-name">Сергей Мельников</span>
		</p>
	</div>
</li>