:root {
  // base
  --font-family: "Inter", sans-serif;
  --content-width: 90rem;
  --container-offset: 1.25rem;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));
  
  // font-size
  --h1: 1.5rem;
  --h2: 1.25rem;
  --h3: 1.125rem;
  --h4: 1rem;
  --h5: .875rem;

  --fs: 1rem;
  --fs-xs: .75rem;
  --fs-sm: .8125rem;
  --fs-md: .875rem;
  --fs-lg: .9375rem;
  --fs-xl: 1.125rem;
  --fs-xxl: 1.25rem;

  // line-height
  --lh: 1.25;
  --lh-normal: normal;
  --lh-1: 1;
  --lh-2: 1.375;
  --lh-3: 1.5;
  --lh-4: 1.75;
  --lh-5: 2;

  // colors
  --primary-color: #0094FF;
  --primary-color--10: rgba(0, 148, 255, .1);
  --secondary-color: #9A9A9A;
  --alert-color: #ff0000;
  --dark-color: #222;
  --light-color: #fff;
  --light-color--v1: #f7f7f7;
  --gray-color: #666;
  --gray-color--v1: #A2A2A2;
  --gray-color--v2: #8D979E;
  --text-color: #959BA3;
  --text-color--v1: #969696;

  // backgrounds
  --background: #f7f7f7;
  --background--light: #fff;
  --background--dark: #222;
  --background--secondary: #9A9A9A;
  --background--gray: #F3F3F3;
  --background--gray-v2: #F6F6F6;
  --background--gray-v3: #EFF1F4;
  --background--gray-v4: #E7E7E7;
  --background--gray-v5: #DFE1E4;

  // border colors
  --border-color: #E0E0E0;
  --border-color--v1: #E4E4E4;
  --border-color--v2: #f4f4f4;
  --border-color--primary: #0E87CD;
  --border-color--secondary: #9A9A9A;
  --border-color--danger: #EC9938;
  --border-color--success: #19C052;
  --border-color--alert: #E8292C;
  --border-color--dark: #222;
  --border-color--gray: #D1D7DF;

  // transition
  --transition-duration: 300ms;
  --transition-type: ease-in-out;
}
